<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
    <link rel="stylesheet" href="{% static "css/explore.css"%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Passions+Conflict&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poiret+One&family=Alumni+Sans+Pinstripe:ital@0;1&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/scrollreveal"></script>
</head>
<nav>
    <ul>
        <li><img id="icon" src="{% static "media/leaf.png" %}"></li>
        <li class="main"><a href="{% url "goals" %}"><span
                    style="font-family: 'Alumni Sans Pinstripe', serif; font-weight: 600;">SDG</span>Hub</a></li>
    </ul>
    <div class="other_resources">
        <ul class="links">
            <li class="join"><a href="{% url "partner" %}">Join Us</a></li>
            <li><a class= "explore" href="{% url "explore" %}" class="explore">Explore</a></li>
            <li><a href="{% url "user:register" %}">Sign Up</a></li>
        </ul>
    </div>
</nav>

<body>

    <div class="container">
        <div class="contents">
            Explore Projects
        </div>

        <div class="slider" reverse="true" style="
                --width: 200px;
                --height: 200px;
                --quantity: 9;
            ">
            <div class="list">


                <div class="item" style="--position: 1">
                    <img src="{% static "media/Greatgreenwall.jpg"%}">
                    <div class="card-body">
                        <div class="card-topic">The Great Green Wall</div>
                        <div class="learn"><a target="_blank" href="https://www.unccd.int/our-work/ggwi">Learn More
                                &#8599;</a></div>
                    </div>
                </div>
                <div class="item" style="--position: 2"><img src="{% static "media/Oceancleanup.jpeg" %}">
                    <div class="card-body">
                        <div class="card-topic">The ocean Cleanup</div>
                        <div class="learn"><a target="_blank" href="https://theoceancleanup.com/">Learn More &#8599;</a>
                        </div>
                    </div>
                </div>
                <div class="item" style="--position: 3"><img src="{% static "media/solaralliance.jpg" %}">
                    <div class="card-body">
                        <div class="card-topic">International solar alliance</div>
                        <div class="learn"><a target="_blank" href="https://isa.int/">Learn More &#8599;</a></div>
                    </div>
                </div>
                <div class="item" style="--position: 4"><img src="{% static "media/unredd.png" %}" alt="">
                    <div class="card-body">
                        <div class="card-topic">UN-REDD</div>
                        <div class="learn"><a target="_blank" href="https://www.un-redd.org/">Learn More &#8599;</a>
                        </div>
                    </div>
                </div>
                <div class="item" style="--position: 5"><img src="{% static "media/water.webp" %}" alt="">
                    <div class="card-body">
                        <div class="card-topic">Water</div>
                        <div class="learn"><a target="_blank" href="https://water.org/">Learn More &#8599;</a></div>
                    </div>
                </div>
                <div class="item" style="--position: 6"><img src="{% static "media/missioninno.jpg" %}" alt="">
                    <div class="card-body">
                        <div class="card-topic">Mission innovation</div>
                        <div class="learn"><a target="_blank" href="https://mission-innovation.net/">Learn More
                                &#8599;</a></div>
                    </div>
                </div>
                <div class="item" style="--position: 7"><img src="{% static "media/WTO.jpg" %}" alt="">
                    <div class="card-body">
                        <div class="card-topic">World Trade Organisation</div>
                        <div class="learn"><a target="_blank" href="https://www.wto.org/">Learn More &#8599;</a></div>
                    </div>
                </div>
                <div class="item" style="--position: 8"><img src="{% static "media/Opengov.png" %}" alt="">
                    <div class="card-body">
                        <div class="card-topic">Open government Partnership</div>
                        <div class="learn"><a target="_blank" href="https://www.opengovpartnership.org/">Learn More
                                &#8599;</a></div>
                    </div>
                </div>
                <div class="item" style="--position: 9"><img src="{% static "media/UNESCO.jpeg" %}" alt="">
                    <div class="card-body">
                        <div class="card-topic">Global Education Coalition</div>
                        <div class="learn"><a target="_blank" href="https://globaleducationcoalition.unesco.org/">Learn
                                More &#8599;</a></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="slider" style="
                --width: 200px;
                --height: 200px;
                --quantity: 9;
            ">
            <div class="list">
                <div class="item" style="--position: 1"><img src="{% static "media/beltandroad.jpg" %}" alt="">
                    <div class="card-body">
                        <div class="card-topic">Belt and road</div>
                        <div class="learn"><a target="_blank"
                                href="https://www.cfr.org/backgrounder/chinas-massive-belt-and-road-initiative">Learn
                                More &#8599;</a></div>
                    </div>
                </div>
                <div class="item" style="--position: 2"><img src="{% static "media/GFANZ-OG.jpg" %}" alt="">
                    <div class="card-body">
                        <div class="card-topic">GFANZ-OG</div>
                        <div class="learn"><a target="_blank" href="https://www.gfanzero.com/">Learn More &#8599;</a>
                        </div>
                    </div>
                </div>
                <div class="item" style="--position: 3"><img src="{% static "media/Global-Forest-Watch.jpg" %}" alt="">
                    <div class="card-body">
                        <div class="card-topic">Gloabal Forest Watch</div>
                        <div class="learn"><a target="_blank" href="https://www.globalforestwatch.org/">Learn More
                                &#8599;</a></div>
                    </div>
                </div>
                <div class="item" style="--position: 4"><img src="{% static "media/WFP.jpg" %}" alt="">
                    <div class="card-body">
                        <div class="card-topic">WFP Organisation</div>
                        <div class="learn"><a target="_blank" href="https://www.wfp.org/">Learn More &#8599;</a></div>
                    </div>
                </div>
                <div class="item" style="--position: 5"><img src="{% static "media/paris-agreement.jpg" %}" alt="">
                    <div class="card-body">
                        <div class="card-topic">The Paris Agreement</div>
                        <div class="learn"><a target="_blank"
                                href="https://unfccc.int/process-and-meetings/the-paris-agreement">Learn More
                                &#8599;</a></div>
                    </div>
                </div>
                <div class="item" style="--position: 6"><img src="{% static "media/ppca.jpg" %}" alt="">
                    <div class="card-body">
                        <div class="card-topic">Powering Past Coal</div>
                        <div class="learn"><a target="_blank" href="https://poweringpastcoal.org/">Learn More
                                &#8599;</a></div>
                    </div>
                </div>
                <div class="item" style="--position: 7"><img src="{% static "media/plastic.avif" %}" alt="">
                    <div class="card-body">
                        <div class="card-topic">EPR Plastic</div>
                        <div class="learn"><a target="_blank" href="https://eprplastic.cpcb.gov.in/#/plastic/home">Learn
                                More &#8599;</a></div>
                    </div>
                </div>
                <div class="item" style="--position: 8"><img src="{% static "media/cleancooking.jpg" %}" alt="">
                    <div class="card-body">
                        <div class="card-topic">Clean Cooking</div>
                        <div class="learn"><a target="_blank" href="https://cleancooking.org/">Learn More &#8599;</a>
                        </div>
                    </div>
                </div>
                <div class="item" style="--position: 9"><img src="{% static "media/Theunhighseas.jpg" %}" alt="">
                    <div class="card-body">
                        <div class="card-topic">The unHigh Sea</div>
                        <div class="learn"><a target="_blank"
                                href="https://www.pewtrusts.org/en/research-and-analysis/issue-briefs/2024/08/inside-the-new-high-seas-treaty#:~:text=The%20U.N.,lie%20beyond%20any%20country's%20jurisdiction.">Learn
                                More &#8599;</a></div>
                    </div>
                </div>
                <div class="item" style="--position: 10"><img src="{% static "media/vaccine.jpg" %}" alt="">
                    <div class="card-body">
                        <div class="card-topic">Immunization</div>
                        <div class="learn"><a target="_blank"
                                href="https://pmc.ncbi.nlm.nih.gov/articles/PMC8390056/">Learn More &#8599;</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            To join the cause, and make a difference, <a href="{% url "partner" %}">partner with us &#8599;</a>
        </div>

    </div>


    <script>
        ScrollReveal({
            reset: true,
            distance: '60px',
            duration: 2500,
            delay: 400
        });

        ScrollReveal().reveal('.contents', { delay: 200, origin: 'left' })
    </script>

</body>

</html>