<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partnership for the Goals</title>
    <link rel="stylesheet" href="{% static 'css/goal17.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Passions+Conflict&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poiret+One&family=Alumni+Sans+Pinstripe:ital@0;1&display=swap"
        rel="stylesheet">
    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=J3-9ohL8HIhLhaJ9dIbeXeBFvgbrbpJ8TtrFb6pcSyDBsy0A-OrHY4_VvoQl3Y_OyLuQSXeQPlJUxanF0dWcI_W2kq1BnCaKksg7PpTTdLBN2BLLUPZ8yl_vt67_L-ZOWfuCfOsuq_hZQ49cEye0QD2_vJG42cmtYYIFazmLkP4" charset="UTF-8"></script><script src="https://unpkg.com/scrollreveal"></script>
</head>

<body>
    <nav>
        <ul>
            <li><img id="icon" src="{% static "media/leaf.png" %}"></li>
            <li class="main"><a href="{% url 'goals' %}"><span
                        style="font-family: 'Alumni Sans Pinstripe', serif; font-weight: 600;">SDG</span>Hub</a></li>
        </ul>
        <div class="other_resources">
            <ul class="links">
                <li class="join"><a href="{% url 'partner' %}">Join Us</a></li>
                <li><a href="{% url 'explore' %}" class="explore">Explore</a></li>
                <li><a href="{% url 'user:register' %}">Sign Up</a></li>
            </ul>
        </div>
    </nav>

    <div class="video-container">
        <video autoplay loop muted>
            <source src="{% static "media/forests.mp4" %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="overvid">
            <p class="ccc"><span>Connect. Collaborate. Create Impact.</p>
            <h1 class="text"><span class="firstline"><span
                        style="font-family: 'Fleur De Leah', serif; font-size: 120px; font-weight: 400;">E</span>mpowering
                    Partnership</span> for a Sustainable Future</h1>
        </div>
    </div>

    <div class="content">
        <div class="intro">
            <div class="text-container">
                <p id="purpose">Our purpose</p>
                <p class="content-intro">
                    Sustainable development cannot be achieved without strong global partnerships and cooperation. Goal
                    17
                    of the United Nations' Sustainable Development Goals (SDGs) emphasizes the importance of
                    collaboration
                    between governments, the private sector, and civil society to drive meaningful change. It focuses on
                    strengthening financial resources, technology exchange, capacity-building, and trade while promoting
                    policy coherence and multi-stakeholder partnerships. By fostering inclusive and sustainable
                    alliances,
                    we can bridge gaps, share knowledge, and accelerate progress toward a better, more equitable future
                    for
                    all. Join us in building a world where unity and innovation create lasting impact!<br>
                    <a href="{% url "explore" %}">&#8599; Explore our projects</a>
                </p>
            </div>
            <img class="hands" src="{% static "media/hands.webp" %}" alt="Hands coming together">

        </div>
    </div>


    <div class="slider">
        <div class="list">
            <div class="item active">
                <img src="{% static "media/deforestation.jpg" %}">
                <div class="content1">
                    <p>Targets</p>
                    <h2>Deforestation</h2>
                    <p>
                        Partnerships for the Goals indirectly supports deforestation reduction by promoting global collaboration, financial aid,
                        technology transfer, and sustainable policies
                        
                        <a class="links-of-organisations" target="_blank" href="https://www.greenclimate.fund/">&#8599; GCF</a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="{% static "media/ocean.jpg" %}">
                <div class="content1">
                    <p>Targets</p>
                    <h2>Ocean Protection</h2>
                    <p>
                    Aims to increase funding for marine conservation, ocean cleanup, and sustainable fisheries in developing nations.
                    <a class="links-of-organisations" target="_blank" href="https://www.thegef.org/">&#8599; thegef</a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="{% static "media/solar.jpg" %}">
                <div class="content1">
                    <p>Targets</p>
                    <h2>Renewable Energy</h2>
                    <p>
                        Aims to increase international funding for solar, wind, hydro, and other renewable energy projects in developing
                        nations.
                        <a class="links-of-organisations" target="_blank" href="https://www.irena.org/">&#8599; irena</a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="{% static "media/susdev.jpg" %}">
                <div class="content1">
                    <p>Targets</p>
                    <h2>Sustainable Development</h2>
                    <p>
                        Mobilizing financial resources to help developing countries invest in sustainable forest
                        management.
                        <a class="links-of-organisations" target="_blank" href="//www.un-redd.org/">&#8599; UN-REDD</a>
                    </p>

                </div>
            </div>
            <div class="item">
                <img src="{% static "media/climatechange.jpg" %}">
                <div class="content1">
                    <p>Targets</p>
                    <h2>Climate Finance</h2>
                    <p>
                        Climate action requires global collaboration. Through strong partnerships, we can drive
                        innovation, share resources, and
                        build a sustainable future for all.
                        <a class="links-of-organisations" target="_blank" href="https://www.gfanzero.com/">&#8599; gfanzero</a>

                    </p>
                </div>
            </div>
        </div>
        <div class="arrows">
            <button id="prev">&#8592;</button>
            <button id="next">&#8594;</button>
        </div>
        <div class="thumbnail">
            <div class="item active">
                <img src="{% static "media/deforestation.jpg" %}">
                <div class="content1">
                    Deforestation
                </div>
            </div>
            <div class="item">
                <img src="{% static "media/ocean.jpg" %}">
                <div class="content1">
                    Ocean Protection
                </div>
            </div>
            <div class="item">
                <img src="{% static "media/solar.jpg" %}">
                <div class="content1">
                    Renewable Energy
                </div>
            </div>
            <div class="item">
                <img src="{% static "media/susdev.jpg" %}">
                <div class="content1">
                    Sustainable Development
                </div>
            </div>
            <div class="item">
                <img src="{% static "media/climatechange.jpg" %}">
                <div class="content1">
                    Climate Finance
                </div>
            </div>
        </div>
    </div>

    <script>
            (function(){if(!window.chatbase||window.chatbase("getState")!=="initialized"){window.chatbase=(...arguments)=>{if(!window.chatbase.q){window.chatbase.q=[]}window.chatbase.q.push(arguments)};window.chatbase=new Proxy(window.chatbase,{get(target,prop){if(prop==="q"){return target.q}return(...args)=>target(prop,...args)}})}const onLoad=function(){const script=document.createElement("script");script.src="https://www.chatbase.co/embed.min.js";script.id="i4H52Q_nNu5GaFVxRo5A5";script.domain="www.chatbase.co";document.body.appendChild(script)};if(document.readyState==="complete"){onLoad()}else{window.addEventListener("load",onLoad)}})();
        let items = document.querySelectorAll('.slider .list .item');
        let next = document.getElementById('next');
        let prev = document.getElementById('prev');
        let thumbnails = document.querySelectorAll('.thumbnail .item');

        let countItem = items.length;
        let itemActive = 0;
        next.onclick = function () {
            itemActive = itemActive + 1;
            if (itemActive >= countItem) {
                itemActive = 0;
            }
            showSlider();
        }
        prev.onclick = function () {
            itemActive = itemActive - 1;
            if (itemActive < 0) {
                itemActive = countItem - 1;
            }
            showSlider();
        }
        let refreshInterval = setInterval(() => {
            next.click();
        }, 5000)
        function showSlider() {
            let itemActiveOld = document.querySelector('.slider .list .item.active');
            let thumbnailActiveOld = document.querySelector('.thumbnail .item.active');
            itemActiveOld.classList.remove('active');
            thumbnailActiveOld.classList.remove('active');

            items[itemActive].classList.add('active');
            thumbnails[itemActive].classList.add('active');
            setPositionThumbnail();

            clearInterval(refreshInterval);
            refreshInterval = setInterval(() => {
                next.click();
            }, 5000)
        }
        function setPositionThumbnail() {
            let thumbnailActive = document.querySelector('.thumbnail .item.active');
            let rect = thumbnailActive.getBoundingClientRect();
            if (rect.left < 0 || rect.right > window.innerWidth) {
                thumbnailActive.scrollIntoView({ behavior: 'smooth', inline: 'nearest' });
            }
        }

        thumbnails.forEach((thumbnail, index) => {
            thumbnail.addEventListener('click', () => {
                itemActive = index;
                showSlider();
            })
        })

        ScrollReveal({
            reset: true,
            distance: '60px',
            duration: 2500,
            delay: 400
        });

        ScrollReveal().reveal('.text, #purpose', { delay: 200, origin: 'left' })
        ScrollReveal().reveal('.ccc, .hands', { delay: 300, origin: 'right' })
        ScrollReveal().reveal('.content-intro', { delay: 200, origin: 'bottom' })

    </script>
</body>

</html>