<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>Password Reset Sent</title>
    <link rel="stylesheet" href="{% static 'css/prelogin.css' %}"> 
    <link href="https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Passions+Conflict&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poiret+One&family=Alumni+Sans+Pinstripe:ital@0;1&display=swap" rel="stylesheet">

  <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=FThiVnlpO06JW-BoXi8iTaB9vdGk5-6AV-ysLcHNTNpZ23dd9SciSXGeAYFIOcWaqzNxW_N0SW0PSiEDU0LWTbsqZaZlny4nRYxbAufv5oEcqXXHqaiZEhfjJNxN63rzYVKVNJLSC-w-yb1R-tEDuquPL5i-IVc6-JfK4myXSCQ" charset="UTF-8"></script></head>
  <body>
    <nav>
      <ul>
          <li><img id="icon" src="{% static "media/leaf.png" %}"></li>
          <li class="main"><a href="{% url "goals" %}"><span style="font-family: 'Alumni Sans Pinstripe', serif; font-weight: 600;">SDG</span>Hub</a></li>
        </ul>
      <div class="other_resources">
          <ul class="links">
              <li class="join"><a href="{% url "partner" %}">Join Us</a></li>
              <li><a href="{% url "explore" %}" class="explore">Explore</a></li>
              <li><a href="{% url "user:register" %}">Sign Up</a></li>
          </ul>
      </div>
  </nav>
    <div class="center">
      <h1>Reset Sent</h1>
    
        <center>
            <div class="signup_link" style="padding: 10px;">A password reset link has been sent to your email. Please note that it <b>expires in 10 minutes</b>!</div>
        </center>
      
    </div>
    <script>
      (function(){if(!window.chatbase||window.chatbase("getState")!=="initialized"){window.chatbase=(...arguments)=>{if(!window.chatbase.q){window.chatbase.q=[]}window.chatbase.q.push(arguments)};window.chatbase=new Proxy(window.chatbase,{get(target,prop){if(prop==="q"){return target.q}return(...args)=>target(prop,...args)}})}const onLoad=function(){const script=document.createElement("script");script.src="https://www.chatbase.co/embed.min.js";script.id="i4H52Q_nNu5GaFVxRo5A5";script.domain="www.chatbase.co";document.body.appendChild(script)};if(document.readyState==="complete"){onLoad()}else{window.addEventListener("load",onLoad)}})();
      </script>
  </body>
</html>