<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'css/prelogin.css' %}"> 
    <link href="https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Passions+Conflict&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poiret+One&family=Alumni+Sans+Pinstripe:ital@0;1&display=swap" rel="stylesheet">

  </head>
  <body>
    <nav>
      <ul>
          <li><img id="icon" src="{% static "media/leaf.png" %}"></li>
          <li class="main"><a href="{% url "goals" %}"><span style="font-family: 'Alumni Sans Pinstripe', serif; font-weight: 600;">SDG</span>Hub</a></li>
        </ul>
      <div class="other_resources">
          <ul class="links">
              <li class="join"><a href="{% url "partner" %}">Join Us</a></li>
              <li><a href="{% url "explore" %}" class="explore">Explore</a></li>
              <li><a href="{% url "user:register" %}">Sign Up</a></li>
          </ul>
      </div>
  </nav>
    <div class="center">
      <h1>Reset Password</h1>

      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'error' %}
            <center><h4 style="color: firebrick;">{{message}}</h4></center>
          {% else %}
            <center><h4 style="color: dodgerblue;">{{message}}</h4></center>
          {% endif %}
        {% endfor %}
      {% endif %}
        
      <form method="POST">

        {% csrf_token %}

        <div class="txt_field">
          <input type="password" required name="password">
          <span></span>
          <label>Password</label>
        </div>    

        <div class="txt_field">
            <input type="password" required name="confirm_password">
            <span></span>
            <label>Confirm Password</label>
        </div>    

        <input type="submit" value="Register">
        <div class="signup_link">
          Remember your password? <a href="{% url 'user:login' %}">Login</a>
        </div>
      </form>
    </div>

  </body>
</html>